@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.component{
    font-family: 'Poppins';
    background-color: #f1f1f1;
    width: 500px;
}
.title{
    text-align: left;
    font-weight: 500;
    padding: 10px 0px 10px 20px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
}
.wrapper{
    text-align: center;
    line-height: 19px;
    font-weight: 400;
    padding: 0px 20px 20px 20px;
}
.wrap{
    height: 30px;
    width: 30px;
    margin-right: 30px;
    background-color: #51b765;
    border: none;
    border-radius: 8px;
}